# Virtual environment
venv/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env

# Database and embedding files
data/chroma_db/
data/indexed_chunks.json

# Logs
logs/
*.log

# Jupyter Notebook
.ipynb_checkpoints

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# OS specific files
.DS_Store
Thumbs.db